@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
/* Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General style */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1rem;
    color: #111;
    line-height: 1.4;
}
.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

section:not(.hero) {
    padding: 6rem 0;
}

section > .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: .5rem;
}

section > .section-subtitle {
    text-align: center;
    color: #242424;
    margin-bottom: 3rem;
}

.btn-primary {
    text-decoration: none;
    color: #fff;
    background-color: darkmagenta;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .8);
}

.btn-primary:hover {
    background-color: #fff;
    color: darkmagenta;
}

/* Header style */
header {
    color: #fff;
    background-color: #212529;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;
}   

header .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
}

header .logo a .logo-img {
    height: 40px;
    margin-right: 0.5rem;
}

header .btn-toggle {
    background: transparent;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 5px;
    padding: .5rem;
}

header .navigation {
    display: none;
    flex-basis: 100%;
    margin-top: 1rem;
}

header .navigation.active {
    display: block;
}

header .nav-items {
    list-style: none;
    position: relative;
}

.nav-items .nav-link {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: .5rem 0;
    border-radius: 5px;
    transition: all .5s ease;
}

.nav-items .nav-link:hover {
    background-color: darkmagenta;
    padding-left: .5rem;
}

/* Hero style */
.hero {
    height: 90vh;
    background: url('./images/Carte.png');
    background-position: center center;
    background-size: cover;
    position: relative;
}

.hero-overlay {
    color: #fff;
    background-color: #00000080;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content {
    text-align: center;
    text-wrap: balance;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 3);
    background-color: #63616104;
    border-radius: 15px;
}

.hero-content p {
    font-size: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 3);
    background-color: #63616104;
    border-radius: 15px;
}


/* Lesson style */

.lessons {
    background-color: #f8f9fa;
}

.lesson-title {
    font-size: 1.125rem;
    margin-bottom: .5rem;
}

.lesson-subtitle {
    text-align: center;
    color: #242424;
    margin-bottom: 3rem;
}

/* Video description style*/

.video {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #f8f9fa;
}
.video .thumbnail {
    position: relative;
    width: 360px;
    height: 250px;
    margin: 16px;
    overflow: hidden;
    transition: transform 0.5s;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .8);
}

.video .thumbnail:hover {
    transform: scale(1.1);
}

.video .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video .title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

/* Footer style */
footer {
    color: #fff;
    background-color: #212529;
    padding: 1.25rem 0;
}

footer > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
  
footer .social-items {
    list-style: none;
    display: flex;
    gap: 0.75rem;
}
  
footer .social-items .social-link {
    text-decoration: none;
    color: #fff;
}

/* Media Query style */
@media screen and (min-width: 768px) {
    /* General style */
    .btn-primary {
      font-size: 1rem;
      padding: 1rem 3rem;
    }

    /* Header style */
    header .btn-toggle {
        display: none;
    }
    header .navigation {
        display: flex;
        flex-basis: auto;
        margin: 0;
    }
    header .nav-items {
        display: flex;
        gap: 1rem;
    }
    .nav-items .nav-link {
        padding: 0.5rem;
    }
    
    /* Hero style */
    .hero-content {
        max-width: 700px;
    }
    .hero-content h1 {
        font-size: 3.5rem;
    }
      .hero-content p {
        font-size: 1.125rem;
    }
    /* Footer style */
    footer > .container {
        flex-direction: row;
        justify-content: space-between;
    }
}